body {
  color: #04048d;
}
@media (min-width: 1024px) {
  body {
    font-size: 12pt;
  }
}
@media (max-width: 1024px) {
  body {
    font-size: 12pt;
  }
}
@media (max-height: 700px) {
  body {
    font-size: 12pt;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 10pt;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 10pt;
  }
}
.top-header {
  background: #134980;
  color: white;
  width: 100%;
}
@media (min-width: 1024px) {
  .top-header {
    padding: 1% 0 .5% 0;
  }
}
@media (max-width: 1024px) {
  .top-header {
    padding: 1.5% 0 1% 0;
  }
}
@media (max-height: 700px) {
  .top-header {
    padding: 1.5% 0 1% 0;
  }
}
@media (max-width: 768px) {
  .top-header {
    padding: 2% 0 1.5% 0;
  }
}
@media (max-width: 480px) {
  .top-header {
    padding: 2% 0 1.5% 0;
  }
}
.logo {
  font-weight: bold;
}
@media (min-width: 1024px) {
  .logo {
    padding: .5% 0 0 1%;
    font-size: 14pt;
  }
}
@media (max-width: 1024px) {
  .logo {
    font-size: 14pt;
    padding: .5% 0 0 1%;
  }
}
@media (max-height: 700px) {
  .logo {
    font-size: 14pt;
    padding: .5% 0 0 2%;
  }
}
@media (max-width: 768px) {
  .logo {
    font-size: 12pt;
    padding: .5% 0 0 2%;
  }
}
@media (max-width: 480px) {
  .logo {
    font-size: 10pt;
    padding: .5% 0 0 2%;
  }
}
.free {
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1024px) {
  .free {
    padding: 0 0 0 1%;
    font-size: 14pt;
  }
}
@media (max-width: 1024px) {
  .free {
    font-size: 14pt;
    padding: 0 0 0 1%;
  }
}
@media (max-height: 700px) {
  .free {
    font-size: 14pt;
    padding: 0 0 0 2%;
  }
}
@media (max-width: 768px) {
  .free {
    font-size: 12pt;
    padding: 0 0 0 2%;
  }
}
@media (max-width: 480px) {
  .free {
    font-size: 10pt;
    padding: 0 0 0 2%;
  }
}
.status-row {
  text-align: center;
}
@media (min-width: 1024px) {
  .status-row {
    padding: 1% 0 5% 0;
  }
}
@media (max-width: 1024px) {
  .status-row {
    padding: 1% 0 5% 0;
  }
}
@media (max-height: 700px) {
  .status-row {
    padding: 1% 0 5% 0;
  }
}
@media (max-width: 768px) {
  .status-row {
    padding: 1% 0 5% 0;
  }
}
@media (max-width: 480px) {
  .status-row {
    padding: 1% 0 5% 0;
  }
}
.row1 {
  background: #f5f7fa;
  text-align: center;
}
@media (min-width: 1024px) {
  .row1 {
    padding: 1% 0 5% 0;
  }
}
@media (max-width: 1024px) {
  .row1 {
    padding: 1% 0 5% 0;
  }
}
@media (max-height: 700px) {
  .row1 {
    padding: 1% 0 5% 0;
  }
}
@media (max-width: 768px) {
  .row1 {
    padding: 1% 0 5% 0;
  }
}
@media (max-width: 480px) {
  .row1 {
    padding: 1% 0 5% 0;
  }
}
@media (min-width: 1024px) {
  .form-wrapper {
    width: 50%;
    margin: 0 0 0 25%;
  }
}
@media (max-width: 1024px) {
  .form-wrapper {
    width: 50%;
    margin: 0 0 0 25%;
  }
}
@media (max-height: 700px) {
  .form-wrapper {
    width: 70%;
    margin: 0 0 0 15%;
  }
}
@media (max-width: 768px) {
  .form-wrapper {
    width: 90%;
    margin: 0 0 0 5%;
  }
}
@media (max-width: 480px) {
  .form-wrapper {
    width: 90%;
    margin: 0 0 0 5%;
  }
}
.form-label {
  font-weight: bold;
}
@media (min-width: 1024px) {
  .form-label {
    font-size: 18pt;
  }
}
@media (max-width: 1024px) {
  .form-label {
    font-size: 18pt;
  }
}
@media (max-height: 700px) {
  .form-label {
    font-size: 16pt;
  }
}
@media (max-width: 768px) {
  .form-label {
    font-size: 12pt;
  }
}
@media (max-width: 480px) {
  .form-label {
    font-size: 10pt;
  }
}
.challenge {
  border: solid 1px blue;
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .challenge {
    width: 80%;
    margin: 1% 0 1% 10%;
  }
}
@media (max-width: 1024px) {
  .challenge {
    width: 80%;
    margin: 1% 0 1% 10%;
  }
}
@media (max-height: 700px) {
  .challenge {
    width: 80%;
    margin: 1% 0 2% 10%;
  }
}
@media (max-width: 768px) {
  .challenge {
    width: 100%;
    margin: 1% 0 2% 0;
  }
}
@media (max-width: 480px) {
  .challenge {
    width: 100%;
    margin: 1% 0 3% 0;
  }
}
.recaptcha {
  width: 100%;
  margin: 0 0 0 0%;
}
@media (min-width: 1024px) {
  .recaptcha {
    padding: 2% 0 2% 0;
  }
}
@media (max-width: 1024px) {
  .recaptcha {
    padding: 2% 0 2% 0%;
  }
}
@media (max-height: 700px) {
  .recaptcha {
    padding: 2% 0 2% 0%;
  }
}
@media (max-width: 768px) {
  .recaptcha {
    padding: 2% 0 2% 0;
  }
}
@media (max-width: 480px) {
  .recaptcha {
    padding: 3% 0 3% 0;
  }
}
.status-success {
  color: green;
  text-align: center;
}
@media (min-width: 1024px) {
  .status-success {
    font-size: 18pt;
    font-weight: bold;
    padding: 10% 0 1% 0;
  }
}
@media (max-width: 1024px) {
  .status-success {
    font-size: 18pt;
    font-weight: bold;
    padding: 10% 0 2% 0;
  }
}
@media (max-height: 700px) {
  .status-success {
    font-size: 16pt;
    font-weight: bold;
    padding: 8% 0 2% 0;
  }
}
@media (max-width: 768px) {
  .status-success {
    font-size: 16pt;
    font-weight: bold;
    padding: 8% 0 2% 0;
  }
}
@media (max-width: 480px) {
  .status-success {
    font-size: 15pt;
    font-weight: bold;
    padding: 12% 0 2% 0;
  }
}
.status-fail {
  color: red;
  text-align: center;
}
@media (min-width: 1024px) {
  .status-fail {
    font-size: 18pt;
    font-weight: bold;
    padding: 10% 0 20% 0;
  }
}
@media (max-width: 1024px) {
  .status-fail {
    font-size: 18pt;
    font-weight: bold;
    padding: 10% 0 20% 0;
  }
}
@media (max-height: 700px) {
  .status-fail {
    font-size: 16pt;
    font-weight: bold;
    padding: 8% 0 20% 0;
  }
}
@media (max-width: 768px) {
  .status-fail {
    font-size: 16pt;
    font-weight: bold;
    padding: 8% 0 20% 0;
  }
}
@media (max-width: 480px) {
  .status-fail {
    font-size: 15pt;
    font-weight: bold;
    padding: 12% 0 20% 0;
  }
}
.status-email-code {
  color: green;
  text-align: center;
}
@media (min-width: 1024px) {
  .status-email-code {
    font-size: 12pt;
    font-weight: bold;
    padding: 1% 0 2% 0;
  }
}
@media (max-width: 1024px) {
  .status-email-code {
    font-size: 12pt;
    font-weight: bold;
    padding: 1% 0 2% 0;
  }
}
@media (max-height: 700px) {
  .status-email-code {
    font-size: 12pt;
    font-weight: bold;
    padding: 2% 0 2% 0;
  }
}
@media (max-width: 768px) {
  .status-email-code {
    font-size: 10pt;
    font-weight: bold;
    padding: 2% 0 2% 0;
  }
}
@media (max-width: 480px) {
  .status-email-code {
    font-size: 10pt;
    font-weight: bold;
    padding: 2% 0 2% 0;
  }
}
