<!DOCTYPE html>
<html>
{{template "header"}}

<body>
    {{template "navbar" .}}
    <div class="status-row ">
        <div class="form-wrapper">
            <p class="form-label">Get A Free MyApiGateway.com Account</p>
        </div>
        <div class="status-success">
            Activated Successfully
        </div>
        <div class="status-email-code">
             To access you account using the password your activation email,
        </div>
        <div class="status-email-code">
            Visit
            <a href='http://www.portal.myapigateway.com'>http://www.portal.myapigateway.com</a> 
        </div>

    </div>


</body>

</html>