<!DOCTYPE html>
<html>
{{template "header"}}

<body>
    {{template "navbar" .}}
    <div class="status-row ">
        <div class="form-wrapper">
            <p class="form-label">Get A Free MyApiGateway.com Account</p>
        </div>
        <div class="status-success">
            Activated Successfully
        </div>
        <div class="status-email-code">
             To access you Ulbora CMS account using the password your activation email,
        </div>
        <div class="status-email-code">
            visit:
            <a href='http://www.userportal.myapigateway.com'>http://www.userportal.myapigateway.com</a> 
        </div>
        <div class="status-email-code">
            To change your password using the password your activation email,
       </div>
       <div class="status-email-code">
           visit:
           <a href='http://www.userportal.ulboracms.com'>http://www.userportal.ulboracms.com</a> 
       </div>

    </div>


</body>

</html>